*~
*tar.gz
src/cembeddedhttpd
autom4te.cache
configure
config.log
config.status
*Makefile
autoscan.log
install-sh
config.h
configure.scan
#Makefile.in
aclocal.m4
depcomp
missing
*o
install-sh
stamp-h1
.deps
